name: CI
on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
  workflow_dispatch:
  schedule:
  - cron: "23 2 12 * *"
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install fastjsonschema
      - name: Validate tools JSON metadata
        run: |
          cd -- schemas/
          ./validate-all-tools.py -s ./spec-v1.schema.json -t ../tools
